@charset "UTF-8";
/*CSS Document*/

.hidden {
	display: none;
}

img, embed, object, video {
  max-width: 100%; }

body {
	font-family: 'Roboto', sans-serif;
	color: #383737;
}

h1, h2, h3, h4 {
	font-family: 'Bell MT', serif;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 35px;
}

h3 {
	font-size: 25px;
}

a {
	text-decoration: none;
}

#mainHeader {
	display: flex;
	flex-direction: column;
}

/*#topBar {
	background-color: #e65b25;
	width: 100%;
	height: 20px;
	display: none;
}*/

#mainHeader i {
	font-size: 30px;
	margin-left: 5px;
	cursor: pointer;
}

.hamburger {
	color: #5b5a5a;
	transition: all .2s ease;
}

.hamburger.expanded {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

#mainNav ul li a {
	display: block;
	padding: 10px 0;
	border-bottom: 1px solid #efefef;
	text-align: center;
	color: #5b5a5a;
	font-size: 14px;
	transition: all .2s ease;
}

#mainNav li:first-child {
	margin-top: 20px;
	border-top: solid 1px #efefef;
} 

#mainNav ul li a:hover {
	background-color: rgba(230,91,37,.3);
}

#burgerMenu {
	display: none;
}

#burgerMenu.slideToggle {
	display: block;
}

#logo {
	width: 70%;
	margin: 10px auto;
}

#hero {
	display: flex;
	flex-direction: column;
	background: url(../images/hero-small.jpg) no-repeat;
	height: 410px;
	justify-content: flex-end;
	align-items: center;
}

#hero h2 {
	color: #fff;
	text-align: center;
	margin-bottom: 100px;
	padding: 0 50px;
	text-shadow: 3px 4px 5px rgba(0,0,0,.5);
}

#hero h3 {
	text-align: center;
	margin-bottom: 40px;
	background-color: rgba(91,90,90, .3);
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	color: #fff;
}

#hero i {
	text-align: center;
	color: #ffffff;
	font-size: 70px;
	text-shadow: 1px 4px 5px rgba(0,0,0,.3);
}

#products {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.product {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top:20px;
}

.productR {
	background-color: #efefef;
	padding-top: 30px;
	padding-bottom: 30px;
}

.product img {
	margin-top: 20px;
	width: 100%;
	max-width: 400px;
	height: 243px;
	margin-right: auto;
	margin-left: auto;
}

.productText {
	text-align: center;
}

.productTextR {
	text-align: center;
}

.product h3 {
	padding: 15px;
	margin-top: 20px;
}

.product p {
	padding: 25px 40px;;
	/* border-bottom: 1px solid #999; */
	line-height: 20px;
}

/* .product3 p:last-child {
	border: none;
} */

#about {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	background-color: #ccc;
	padding: 40px 15px;
	align-items: center;
}

#about p {
	margin-top: 20px;
	text-align: center;
	font-family: 'Bell MT', serif;
	font-size: 20px;
}

#contact {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px;
}

#contactText {
	margin-top: 20px;
	text-align: center;
	font-family: 'Bell MT', serif;
	font-size: 20px;
}

#contactForm {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	padding: 10px 20px;
	width: 100%;
}

#contactForm input, textarea {
	padding: 7px 10px;
	border: #e65b25 solid 1px;
	margin-bottom: 10px;
	font-family: 'Roboto', sans-serif;
}

#contactForm input:last-child {
	padding: 15px;
	background-color: #e65b25;
	border: none;
	color: white;
	font-size: 18px;
	cursor: pointer;
	transition: 1s ease all;
}

#contactForm input:last-child:hover {
	background-color: #383737;
	cursor: pointer;
}

#contact ul {
	margin-top: 40px;
}

#contact ul li {
	display: flex;
	padding-bottom: 10px;
}

.contactIcon {
	max-width: 30px;
	padding-right: 15px;
}

#contact ul li p {
	padding-top: 5px;
}

#scrollTop {
	opacity: 0;
	cursor: pointer;
	position: fixed;
	bottom: 30px;
	right: 20px;
	padding: 10px;
	transition: all .5s ease;
}

#scrollTop i {
	color: #383737;
	font-size: 100px;
	text-shadow: 1px 4px 5px rgba(0,0,0,.3);
}

#mainFooter {
	background-color: #383737;
	padding: 20px;
	margin-top: 40px;
}

#mainFooter p {
	color: #ffffff;
	font-size: 12px;
	text-align: center;
}

@media screen and (min-width: 576px) {
	.product p {
		padding: 25px 100px;
	}
}

/* TABLET VERSION */
@media screen and (min-width: 768px) {
	h1 {
		font-size: 45px;
	}

	h2 {
		font-size: 40px;
	}

	h3 {
		font-size: 30px;
	}

	p {
		font-size: 14px;
	}

	#hero {
		background: url(../images/hero.jpg);
		max-width: 1366px;
		height: 582px;
	}

	#hero h2 {
		margin-bottom: 140px;
	}

	#hero i {
		font-size: 150px;
	}

	.product p {
		padding-left: 150px;
		padding-right: 150px;
	}

	#about p {
		font-size: 22px;
		padding-left: 80px;
		padding-right: 80px;
	}

	#contactText {
		font-size: 22px !important;
		padding-left: 80px;
		padding-right: 80px;
	}

	#contactForm {
		width: 80%;
	}

	.contactIcon {
		max-width: 40px;
	}

	#contact ul li p {
		padding-top: 10px;
	}
}

@media screen and (min-width: 900px) {
	.product p {
		padding: 25px 200px;
	}
}

/*DESKTOP VERSION*/
@media screen and (min-width: 1024px) {

	#logoNav {
		display: flex;
		justify-content: space-between;
	}

	#logo {
		order: -1;
		max-width: 300px;
		margin-left: 20px;
	}

	#mainNav i {
		margin-right: 10px;
		margin-left: 50px;
		margin-top: 10px;
	}

	#burgerMenu.slideToggle {
		margin-right: 20px;
	}
	
	#hero h2 {
		width: 250px;
		margin-bottom: 140px;
		animation: fadeAnim 2s;
	}

	#hero h3 {
		animation-name: fadeAnim;
		animation-duration: 2s;
		animation-delay: 1s;
		animation-fill-mode: backwards;
	}

	#hero i {
		margin-bottom: 30px;
		cursor: pointer;
		animation-name: fadeAnim;
		animation-duration: 2s;
		animation-delay: 1.5s;
		animation-fill-mode: backwards;
	}

	/* #productsCon {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 20px;
		margin: 20px;
	}
	
	.product1 {
		grid-column: 1;
	}

	.product2 {
		grid-column: 2;
	}

	.product3 {
		grid-column: 3;
	} */

	#products h1 {
		margin-top: 20px;;
	}

	.product {
		display: flex;
		flex-direction: row;
		padding: 20px;
		margin-top: 40px;
		margin-right: 20px;
		margin-left: 20px;;
	}

	.product img {
		margin-top: 0;
	}

	.productR img {
		order: 3;
	}

	.productR {
		background-color: #efefef;
		margin-top: 40px;
	}

	.productText {
		margin-left: 40px;
	}

	.productTextR {
		text-align: right;
		margin-right: 40px;
	}

	.product h3 {
		/* text-align: left !important; */
		padding: 0;
		padding-top: 20px;
		padding-bottom: 10px;
	}

	.product p {
		padding: 5px;
		border: none;
	}

	#about {
		padding: 80px 50px;
		margin-top: 40px;
	}

	#contactText {
		padding: 0 300px;
	}

	#contactForm {
		width: 50%;
	}

}

@keyframes fadeAnim {
	0% {opacity: 0};
	100% {opacity: 1};
}