#scrollTop {
	// opacity: 0;
	
	// position: absolute;
	// bottom: 60px;
	// right: 20px;
	display: flex;
	justify-content: flex-end;
	padding: 10px;
	
}
#scrollTop i {
	color: $copy-color;
	cursor: pointer;
	transition: all .5s ease;
	text-shadow: 1px 4px 5px rgba(0,0,0,.3);
}

#scrollTop i:hover, #scrollTop i:focus {
	@include scaleDown;
	opacity: .9;
}

#mainFooter {
	background-color: $copy-color;
	padding: 20px;
	margin-top: 40px;
}

#mainFooter p {
	color: #ffffff;
	font-size: 12px;
	text-align: center;
}